html {
    height: 3468px;
}

/* ============== (Page body) ============== */

.page-body {
    background-color: #FFFFFF;
    color: #434455;
    font-family: "Roboto", sans-serif;
}

/* ============== (Header) ============== */

.page-header {
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header .container-page-header {
    display: flex;
    justify-content: space-between;
}

.page-header .navigation {
    display: flex;
    align-items: center;
}

.page-header .navigation .nav-menu-item {
    position: relative;
    color: #404BBF;
}

.page-header .navigation .link {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-right: 76px;
}

.page-header .navigation .menu .nav {
    padding-top: 24px;
    padding-bottom: 24px;
}

.page-header .navigation .link .studio {
    color: #2E2F42;
}

.page-header .navigation .nav {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    line-height: 24px;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header .navigation .nav-one {
    position: relative;
    color: #404BBF;
}

.page-header .navigation .nav-one::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    content: "";
    height: 4px;
    width: 100%;
    background-color: #404bbf;
    border-radius: 2px;
}

.page-header .navigation .nav:hover {
    color: #404BBF
}

.page-header .navigation #studio:active,
.page-header .navigation #studio:focus {
    text-decoration: underline;
    color: #404BBF;
}

.page-header address {
    font-style: normal;
}

.page-header .contact {
    padding-top: 24px;
    padding-bottom: 24px;
}

.page-header .contact .menu-address {
    display: flex;
    gap: 40px;
}

.page-header .contact .link {
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    line-height: 24px;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header .contact .link:hover,
.page-header .contact .link:focus {
    color: #404BBF;
}

/* ============== (Section one) ============== */

.page-main .section-one {
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 188px;
    padding-bottom: 188px;
}

.page-main .container-section-one {
    display: flex;
    flex-direction: column;
}

.page-main .section-one .title-one {
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 526px;
    margin-left: auto;
    margin-right: auto;
}

.page-main .section-one .button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    cursor: pointer;
    max-width: 169px;
    min-width: 169px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-main .section-one .button:hover,
.page-main .section-one .button:focus {
    background-color: #404BBF;
}

/* ============== (Section two) ============== */

.page-main .section-two {
    padding-top: 120px;
    padding-bottom: 120px;
}

.page-main .container-section-two {
    display: flex;
}

.page-main .section-two .menu {
    display: flex;
    gap: 24px;
}

.page-main .section-two .menu .item {
    max-width: calc((1128px - 72px) / 4);
}

.page-main .section-two .title {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
}

.page-main .section-two .section-title {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.page-main .section-two .text {
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.container-section-two-icon-item {
    height: 112px;
    display: flex;
    background-color: #F4F4FD;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

/* ============== Section three ============== */

.page-main .section-three {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.page-main .container-section-three {
    display: flex;
    flex-direction: column;
}

.page-main .section-three .title {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.page-main .section-three .menu {
    gap: 24px;
}

.page-main .section-three .item {
    padding-bottom: 80px;
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    width: calc((1128px - 72px) / 4);
}

.page-main .section-three .icon-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-main .section-three .content {
    padding-top: 32px;
    padding-bottom: 32px;
}

.page-main .section-three .section-title {
    color: #2e2f42;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}

.page-main .section-three .text {
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
}

.section-three .icon-list {
    justify-content: center;
    margin-top: 6px;
    margin-left: 16px;
    gap: 24px;
}

.section-three .icon-list-item {
    width: 40px;
    height: 40px;
}

.page-main .section-three .icon-link {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #4D5AE5;
    border-radius: 50%;
}

.page-main .section-three .icon-link:hover,
.page-main .section-three .icon-link:focus {
    background-color: #404bbf;
}

.section-three svg {
    fill: #f4f4fd;
}

/* ============== Section four ============== */

.page-main .section-four {
    padding-top: 120px;
    padding-bottom: 120px;
}

.page-main .container-section-four {
    display: flex;
    flex-direction: column;
}

.page-main .section-four .border {
    padding-left: 16px;
    padding-bottom: 32px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.page-main .section-four .menu .item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.page-main .section-four .title {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.page-main .container-section-four .menu {
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.page-main .container-section-four .item {
    position: relative;
    width: calc((1128px - 48px) / 3);
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-main .section-four .section-title {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    padding-top: 32px;
    margin-bottom: 8px;
}

.page-main .section-four .text {
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.page-main .section-four .item .marketing-overlay {
    position: relative;
    overflow: hidden;
}

.container-section-four .marketing-overlay .text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.page-main .section-four .item:hover .text {
    transform: translateY(0);
}

.page-main .section-four .marketing-overlay .text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #F4F4FD;
}


/* ============== Page footer ============== */

.page-footer {
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.page-footer .container {
    display: flex;
    align-items: baseline;
}

.footer-link {
    margin-right: 120px;
}

.page-footer .link-studio {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
    display: inline-block;
}

.page-footer .link-studio .studio {
    color: #F4F4FD;
}

.page-footer .footer-text {
    width: 96px;
    position: relative;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.page-footer .text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    width: 264px;
    color: #F4F4FD;
}

.icon-list {
    position: absolute;
    display: flex;
    gap: 16px;
}

.page-footer .icon-list-item {
    width: 40px;
    height: 40px;
    column-gap: 16px;
}

.page-footer .icon-link {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer svg {
    fill: #f4f4fd;
}

.icon-link:hover,
.icon-link:focus {
    background-color: #31D0AA;
    display: flex;
    column-gap: 16px;
    border-radius: 50%;
}

.subscribe-container {
    position: relative;
    margin-left: 192px;
}

.text-subscribe {
    margin-bottom: 16px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color:#FFFFFF;
}

.form-subscribe {
    display: flex;
    gap: 24px;
}

.input-subscribe {
    position: absolute;
    width: 264px;
    height: 40px;
    top: 40px;
    left: 0;

    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

.input-subscribe::placeholder {
    color: #ffffff;
}

.button-subscribe {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 288px;

    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;

    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}

.svg-subscribe {
    margin-left: 16px;
}

.button-subscribe:hover,
.button-subscribe:focus {
    background-color: #404BBF;
}

/* ============== Modal Window Styles ============== */

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background-color:rgba(46, 47, 66, 0.4);

    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-backdrop.is-open {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    width: 408px;
    min-height: 584px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 72px 24px 24px 24px;

    border-radius: 4px;
    background-color:#FCFCFC;
    overflow: auto;

    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button {
    top: 24px;
    right: 24px;
    padding: 0;

    position: absolute;
    cursor: pointer;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color:#E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.102);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
    fill:#FFFFFF;
    background-color:#404BBF;
    border: none;
}

.modal-text {
    display: flex;
    color:#2e2f42;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    margin-top: 48px;
    justify-content: center;
    text-align: center;
    margin-bottom: 16px;
}

.review-form-wrapper {
    margin-bottom: 8px;
}

.modal-backdrop-form {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    align-items: center;
    border-radius: 4px;
}

.form-label {
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
    color:#8e8f99;
}

.input-icon-wrapper {
    position: relative;
}

.form-input {
    width: 360px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
}

.form-input:focus {
    outline: none;
    border-color: #4D5AE5;
}

.form-wrapper-svg {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-wrapper-svg {
    fill:#4D5AE5;
}

.review-form-wrapper-textarea {
    margin-bottom: 16px;
}

.form-textarea {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    resize: none;
    width: 360px;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    padding: 8px 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:focus {
    outline: none;
    border-color: #4D5AE5;
}

.review-form-checkbox-wrapper {
    display: flex;
    width: 360px;
    height: 16px;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 24px;
}

.review-form-checkbox {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    padding-left: 8px;
    color:#8e8f99;
}

.form-input-checkbox {
    margin-left: 24px;
}

.review-form-checkbox .review-form-checkbox-link {
    line-height: 16px;
    color:#4D5AE5;
}

.custom-checkbox {
    display: inline-flex;
    margin-right: 8px;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    cursor: pointer;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-checkbox:checked + .review-form-checkbox > .custom-checkbox {
    background-color:#404BBF;
    border: none;
    fill: #F4F4FD;
}

.form-input-checkbox:focus +.review-form-checkbox > .custom-checkbox {
    outline:1px solid #404BBF;
}

.review-form-submit-button {
    min-width: 169px;
    height: 56px;

    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;

    color:#ffffff;
    background-color:#4D5AE5;;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.149);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-submit-button:hover,
.review-form-submit-button:focus {
    background-color:#404BBF;
}

/* ============== General ============== */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.menu {
    display: flex;
    gap: 40px;
}

img {
    display: block;
}

.icon {
    position: absolute;
}